/* to be consolidated with mystyles.css!
just doing this in a separate file for now 
to avoid annoying merge conflicts. 
This specific css file is currently 
being used by register.html */


/* from mystyles.css */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* color: red; */
  /* new */
  color: #723147;
  background-color: #E6B098;
}

/* new styles */
.container {
	text-align: center;
	background-color: #F9E4AD;
	padding: 1em;
	margin: 2em;
	border-radius: 0.5em;
	box-shadow: 0.2em 0.2em 0.5em #723147;
}

.field {
	width: 90%;
	padding: 0.5em 0;
	border-radius: 0.5em;
	border-style: solid;
	border-color: #E6B098;
}

#submit-btn {
	margin: 1em 0 0 0;
	padding: 1em 2em;
	background-color: #E6B098;
	border: none;
	border-radius: 5em;
}

#submit-btn:hover {
	box-shadow: 0 0.3em #723147;
}

h1 {
	text-align: center;
}

h4 {
	padding: 1em 0 0 0;
	margin: 0;
}

